*.cache
*.devbox
*.lcov
*.log
/.cache
/.dynamodb
/.env
/.idea
/.php-cs-fixer.php
/.scannerwork
/.vscode
/*.xml
/cache
/coverage
/node_modules
/res/*.json
/res/*.php
/tmp
/vendor

# exceptions
!*.dist.*
