*.cache
*.devbox
*.dist
*.empty
*.git
*.gitignore
*.hbs
*.ini
*.json
*.log
*.prettierignore
*.properties
*.sh
*.sql
*.txt
*.vscode
/.docker
/.husky
/.scannerwork
/.vscode
/build
/coverage
/dist
/Dockerfile
/node_modules
/vendor
