<?xml version="1.0"?>
<psalm
  allowStringToStandInForClass="true"
  autoloader="vendor/autoload.php"
  errorLevel="1"
  findUnusedPsalmSuppress="true"
  resolveFromConfigFile="true"
  useDocblockPropertyTypes="true"
>
  <projectFiles>
    <directory name="src" />

    <ignoreFiles>
      <directory name="vendor" />
    </ignoreFiles>
  </projectFiles>

  <plugins>
  </plugins>

  <issueHandlers>
  </issueHandlers>
</psalm>
